.covid-wrapper
 .viruses
  - for(i=0;i<10;i++)
   .virus
 .covid-arms
 .covid-arms.right
 .earth-wrapper
  .earth-detail
  .earth
   .covid-eyes.earth-eyes
   .covid-eyes.earth-eyes.left
   .mask
   .mask-wrapper
   .mask-detail
   .mask-back
   .earth-green
    - for(i=0;i<11;i++)
     .earth-greens
 .covid
  .covid-spots
   - for(i=0;i<11;i++)
    .covid-spot
  .covid-eyes 
  .covid-eyes.left
  .covid-eyebrow
  .covid-eyebrow.right
  .covid-mouth
  .covid-cheek
  .covid-cheek.right
.covid-pulse
 .covid-sticks
  - for(i=0;i<13;i++)
   .covid-stick
